$very-light-blue: #DBE5F8;
$light-blue: #0073d2;
$blue: #0065b8;
$dark-blue: #005499;
$very-dark-blue: #003c6e;

$white: #FFF;
$black: #000;

$light-grey: #E5E5E5;
$grey: #DADADA;
$medium-grey: #BBB;
$dark-grey: #999;
$very-dark-grey: #1f1f1f;

$light-green: #DFF7D6;
$green: #457C00;

$red: #D31A24;
