.expedia-left {
    float: left !important;
}

.expedia-right {
    float: right !important;
}

.expedia-align-left {
    text-align: left !important;
}

.expedia-align-right {
    text-align: right !important;
}
